<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ontio.dao.SendTxMsgInfoMapper">
    <resultMap id="BaseResultMap" type="com.github.ontio.model.MsgInfo">
        <result column="txhash" jdbcType="VARCHAR" property="txhash" />
        <result column="nodeUrl" jdbcType="VARCHAR" property="nodeUrl" />
        <result column="functionName" jdbcType="VARCHAR" property="functionName" />
        <result column="result" jdbcType="VARCHAR" property="result" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>
    <sql id="Base_Column_List">
    blkHeight, amount, chainType, nodeUrl,functionName,sideChainId,address,txhash,result,description
  </sql>
    <insert id="insert" parameterType="com.github.ontio.model.MsgInfo">
    insert into tbl_sendtx_msginfo (txhash,nodeUrl,functionName,result,description)
    values (#{txhash,jdbcType=VARCHAR}, #{nodeUrl,jdbcType=VARCHAR}, #{functionName,jdbcType=VARCHAR},
    #{result,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR})
  </insert>
    <select id="selectByTxhash" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_sendtx_msginfo
        where txhash = #{TxHash,jdbcType=VARCHAR}
    </select>

</mapper>